@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="container-fluid">
          
          <div class="row">
          
              <div class="hero hero-front">
				  <h1 class="giga">Together we create solutions</h1>
				  <h3>Worldwide transport and logistics solutions</h3>
              </div>
              
          </div>


<div class="row">	

	<div class="module intro-box">
		
		<div class="container">
		
			<div class="row">
				
				<div class="col-xs-10 col-xs-offset-1">
					<h2>Best in town</h2>
				  	<p class="intro">Blue Water Shipping is a global provider of all logistics services in modern supply chain management. At the heart of Blue Water is an organisation of professionals skilled to offer complete and tailor-made solutions to any shipping requirement anywhere in the world.</p>
				</div>
            
			</div>
				  
        </div>
	
	</div>
						
</div>						


<div class="row">						
	
	<div class="module news">

		<div class="container">		
          
			<div class="col-xs-3 ">
              <h2>Latest news</h2>
			  <p>Blue Water Shipping is a global provider of all logistics services in modern supply chain management. At the heart of Blue Water is an organisation of professionals skilled to offer complete and tailor-made solutions to any shipping requirement anywhere in the world.</p>
            </div>
				  
        </div>	
	</div>				  

</div>				
				
				
			  
					  
					  
					  
      </div>