<!DOCTYPE root[<!ELEMENT StandardPage ANY>
<!ATTLIST StandardPage id ID #REQUIRED>
 
<!ELEMENT Article ANY>
<!ATTLIST Article id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT News ANY>
<!ATTLIST News id ID #REQUIRED>
<!ELEMENT Site ANY>
<!ATTLIST Site id ID #REQUIRED>

]>
<root id="-1">
  <Site id="1063" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-03-19T13:18:18" updateDate="2015-03-19T13:19:49" nodeName="Bws" urlName="bws" path="-1,1063" isDoc="" nodeType="1062" creatorName="Brian" writerName="Brian" writerID="0" template="0" nodeTypeAlias="Site">
    <umbracoInternalRedirectId>1058</umbracoInternalRedirectId>
    <Home id="1058" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2015-03-19T09:00:23" updateDate="2015-03-19T15:54:20" nodeName="Home" urlName="home" path="-1,1063,1058" isDoc="" nodeType="1053" creatorName="Brian" writerName="Brian" writerID="0" template="1052" nodeTypeAlias="Home">
      <font><![CDATA[freight]]></font>
      <mainNav>1</mainNav>
    </Home>
    <StandardPage id="1067" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2015-03-19T15:54:15" updateDate="2015-03-19T15:54:15" nodeName="Tools &amp; Conditions" urlName="tools-conditions" path="-1,1063,1067" isDoc="" nodeType="1066" creatorName="Brian" writerName="Brian" writerID="0" template="1065" nodeTypeAlias="StandardPage">
      <mainNav>0</mainNav>
    </StandardPage>
    <News id="1059" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2015-03-19T09:00:30" updateDate="2015-03-19T15:54:24" nodeName="News" urlName="news" path="-1,1063,1059" isDoc="" nodeType="1057" creatorName="Brian" writerName="Brian" writerID="0" template="1056" nodeTypeAlias="News">
      <Article id="1064" parentID="1059" level="3" creatorID="0" sortOrder="1" createDate="2015-03-19T15:14:27" updateDate="2015-03-19T15:14:27" nodeName="Proxima" urlName="proxima" path="-1,1063,1059,1064" isDoc="" nodeType="1055" creatorName="Brian" writerName="Brian" writerID="0" template="1054" nodeTypeAlias="Article">
        <font><![CDATA[proxima]]></font>
      </Article>
      <Article id="1060" parentID="1059" level="3" creatorID="0" sortOrder="2" createDate="2015-03-19T09:00:53" updateDate="2015-03-19T15:14:35" nodeName="Freight" urlName="freight" path="-1,1063,1059,1060" isDoc="" nodeType="1055" creatorName="Brian" writerName="Brian" writerID="0" template="1054" nodeTypeAlias="Article">
        <font><![CDATA[freight]]></font>
        <fontFamily><![CDATA[freight]]></fontFamily>
      </Article>
      <font><![CDATA[freight]]></font>
      <mainNav>1</mainNav>
    </News>
  </Site>
</root>